@import "./patterns";

.bx--header {
    // background-color: #0D2E04;
    background-color: $forest-green-traditional;
}

.bx--content.content-root-container {
    background-color: #ffffff96 !important;
    min-height:94vh;
    @media (max-width: $phone-bkpoint) {
        padding-left: 0px;
        padding-right: 0px;
    }
}


.bx--btn--primary.bx--btn--login,
.bx--btn--primary.bx--btn--signup{
    background-color: $yellow-green;
}
.bx--btn--primary.bx--btn--login:hover,
.bx--btn--primary.bx--btn--signup:hover{
    background-color: $lincoln-green;
}
